.contact-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:  #E6E6E6;
}

.contact-left {
    width: 50%;
    height: 100vh;
    object-fit: cover;  
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url("../assets/contact-img.jpg"), lightgray 50% / cover no-repeat;
    background-size: cover;
}

.contact-right {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-right h1 {
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 400;
}

.contact-right p {
    font-size: 14px;
    font-weight: 400;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

input {
    border: none;
    border-bottom: 1px solid #000;
    width: 373px;
    outline: none;
    padding-bottom: 5px;
    margin-bottom: 30px;
    background: transparent;
}

select {
    border: none;
    border-bottom: 1px solid #000;
    width: 373px;
    outline: none;
    padding-bottom: 5px;
    margin-bottom: 30px;
    color: gray;
    background: transparent;
}

.time-input {
    width: 187px;
}

.contact-btn {
    width: 140px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #000;
    background: #e6e6e6;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    float: left;
}

.contact-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 150px;
    margin-left: -13px;
}

.contact-icons i {
    color: #000;
    font-size: 25px;
}

.btn-icon-container {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .contact-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .contact-left {
        width: 100%;
        height: 40vh;
    }

    input {
        width: 250px;
    }

    .input-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .time-input {
        width: 250px;
    }

    select {
        width: 250px;
    }

    .contact-right h1 {
        font-size: 24px;
        margin-top: 20px;
    }
    
    .contact-right p {
        font-size: 14px;
        width: 100%;
    }
}