.explore-container {
    width: 100%;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.menu-container {
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.menu-container > h1 {
    font-size: 32px;
    font-weight: 400;
}

.menu-container > p {
    font-size: 14px;
    font-weight: 400;
}


.menu-left {
    width: 50%;
    height: 100vh;
    object-fit: cover;  
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url("../assets/chicken.jpg"), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
}

.menu-right {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
    margin-top: 2rem;
}

.menu-container-right {
    display: flex;
    margin: 20px 0;
    width: 40%;
    flex-direction: column;
}

.menu-container-right p {
    text-align: left;
}

.food-title {
    font-size: 20px;
    font-weight: 400;
}

.food-desc {
    font-size: 14px;
    margin-top: 11px;
}

.french-menu-container {
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    align-items: center;
}


.french-menu-container-right {
    display: flex;
    margin: 20px 0;
    width: 40%;
    flex-direction: column;
}

.french-menu-left {
    width: 50%;
    height: 100vh;
    object-fit: cover;  
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url("../assets/chicken.jpg"), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
}

.french-menu-right {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
    margin-top: 2rem;
}

.reverse-menu-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

@media screen and (max-width: 768px) {
    .explore-container {
        width: 100%;
        background-color: #e6e6e6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .menu-left {
        width: 100%;
        height: 250px;
    }

    .menu-container {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .menu-container > h1 {
        text-align: center;
        margin-top: 11px;
    }

    .menu-container > p {
        text-align: center;
        margin-top: 11px;
    }

    .menu-right {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .menu-container-right {
        display: flex;
        margin: 20px 0;
        flex-direction: column;
        width: auto;
    }
}