.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #e6e6e6;
}

.gallery-container > h1 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin-top: 8rem;
}



.grid-image {
    width: 500px;
    height: 450px;
    margin: 0 20px;
    padding: 20px 0;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .gallery-container {
        width: 100%;
    }

    .grid-image {
        width: 350px;
        height: auto;
    }
}