.gallery-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
}

.gallery-container > h1 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 8rem;
    margin-bottom: 60px;

}

.photo-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

    place-items: center;
}

.photo-container > img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    width: 80%;
    height: 100%;
    object-fit: cover;
}